@model IEnumerable<Errorlog>

@{
    ViewBag.Title = "Index";
}

<h2>Errorlogs</h2>

<table class="dtable display compact">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(e => e.Kassa.ID)</th>
            <th>@Html.DisplayNameFor(e => e.Kassa.KassaNaam)</th>
            <th>@Html.DisplayNameFor(e => e.Timestamp)</th>
            <th>@Html.DisplayNameFor(e => e.Message)</th>
            <th>@Html.DisplayNameFor(e => e.Stacktrace)</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Errorlog errorlog in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => errorlog.Kassa.ID)</td>
                <td>@Html.DisplayFor(modelItem => errorlog.Kassa.KassaNaam)</td>
                <td>@Html.DisplayFor(modelItem => errorlog.Timestamp)</td>
                <td>@Html.DisplayFor(modelItem => errorlog.Message)</td>
                <td>@Html.DisplayFor(modelItem => errorlog.Stacktrace)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
